<div class="card m-3 text-center border border-3 text-secondary fs-4">
    <div class="card-body">
        Modifica el autor
    </div>
</div>

<div class="m-5">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="author">

        <div class="mb-3 ">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="first_name">
            <!-- <p class="error" *ngIf="checkControl('first_name', 'required')">
            El campo nombre es obligatorio.
        </p> -->
        </div>
        <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input type="text" class="form-control" formControlName="last_name">
            <!-- <p class="error" *ngIf="checkControl('last_name', 'required')">
            El campo apellido es obligatorio.
        </p> -->
        </div>

        <button class="btn btn-outline-secondary m-2">Modificar</button>
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/authors']">Volver</button>


    </form>
</div>