<div class="card m-3 text-center border border-3 text-secondary fs-3">
    <div class="card-body">
        AUTORES
    </div>
</div>



<div class="m-3">
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/newAuthor']">Introduce un nuevo
        autor</button>

</div>


<div class="container">
    <div class="row">

        <div class="col" class="card border-dark m-2 " style="max-width: 20rem; " *ngFor="let author of arrAuthors">
            <div class="card-header">Autor</div>
            <div class="card-body text-dark">

                <p class="card-text">{{author.first_name}}</p>
                <p class="card-text">{{author.last_name}}</p>

                <button type="button" class="btn btn-outline-secondary"
                    [routerLink]="['/authors/', author.id]">Detalle</button>
            </div>
        </div>

    </div>

</div>