<div class="m-3">
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/newBook']">Introduce un nuevo
        libro</button>

</div>



<div class="container">
    <div class="row">

        <div class="col" class="card border-dark m-2 " style="max-width: 20rem; " *ngFor="let book of arrBooks">
            <div class="card-header">Libro</div>
            <div class="card-body text-dark">
                <h5 class="card-title">{{book.name}}</h5>
                <p class="card-text">{{book.ISBN}}</p>
                <p class="card-text">{{book.fk_author}}</p>
                <button type="button" class="btn btn-outline-secondary"
                    [routerLink]="['/detail/', book.id]">Detalle</button>
            </div>
        </div>

    </div>

</div>